
<h1>
    End of Random Play:
</h1>

<div>
    Respuestas Correctas = <span id="score"><%= score %></span>
</div>

<p>
    Has contestado todas las preguntas. Eres un ganador.
</p>

<p>
    <a href="/quizzes"><button>Go Back</button></a>
</p>

